<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link rel="stylesheet" href="../assets/css/main.css">

</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light">
        <a class="navbar-brand" href="#">偽装</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar" aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse" id="navbar">
            <ul>
                <li><a href="../index.html">NOSOTROS</a></li>
                <li><a href="mujer.html">MUJER</a></li>
                <li><a href="hombre.html">HOMBRE</a></li>
                <li><a href="fotos.html">FOTOS</a></li>
                <li><a href="login.html">LOG IN</a></li>
                <li><a href="contacto.html">CONTACTO</a></li>
            </ul>
        </div>
    </nav>    
    
        <div class="grid-container">
            <div class="grid-item"> <img src="../img/street2.jpg" alt="HOMBRE"></div>
            <div class="grid-item"><img src="../img/street.jpg" alt="Forest"></div>
            <div class="grid-item"><img src="../img/street2.jpg" alt="HOMBRE"></div>  
            <div class="grid-item"><img src="../img/street.jpg" alt="Forest"></div> 
            <div class="grid-item"> <img src="../img/street2.jpg" alt="HOMBRE"></div>
            <div class="grid-item"><img src="../img/street.jpg" alt="Forest"></div>
            <div class="grid-item"><img src="../img/street2.jpg" alt="HOMBRE"></div>  
            <div class="grid-item"><img src="../img/street.jpg" alt="Forest"></div>
            <div class="grid-item"><img src="../img/street2.jpg" alt="HOMBRE"></div> 
          </div>

</body>
</html>