<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="StreetWear" content="width=device-width, initial-scale=1.0">
    <title>Nosotros - disguised</title>
    <link rel="stylesheet" href="../assets/css/main.css">
</head>
<body>
    <nav>
        <ul>
            <li><a href="../index.html"> INICIO </a></li>
            <li><a href="nosotros.html">NOSOTROS</a></li>
            <li><a href="mujer.html">MUJER</a></li>
            <li><a href="hombre.html">HOMBRE</a></li>
            <li><a href="colecciones.html">COLECCIONES</a></li>
            <li><a href="fotos.html">FOTOS</a></li>
            <li><a href="login.html">LOG IN</a></li>
            <li><a href="contacto.html">CONTACTO</a></li>
        </ul>
    </nav>
        <h1>NOSOTROS</h1>
        <hr>

        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quo, accusamus. Repellat commodi obcaecati illo vitae omnis blanditiis, id perspiciatis quod hic sit! Exercitationem veniam maiores eius illo! Perspiciatis, nobis veritatis.</p>

    </body>
</html>